<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>

    <form id="ask-form">
        <label for="question-input">Type in a question!</label>
        <input
            id="question-input"
            type="text"
            name="question"
            placeholder="Ask anything"
        >
        <input
            id="ask-submit-button"
            type="submit"
        >
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>

    <div id="answer-output"></div>

    <script src="static/js/ask.js"></script>

    <br>

    <a href="{{ url_for('context_page') }}">Go to Context</a>


</body>
</html>
