<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ask anything!</h1>

    <!-- <form action="/ask/api" method="POST">
        <label for="question">Type in a question!</label>
        <input type="text" name="question" placeholder="Ask anything" id="question">
        <input type="submit" name="Submit">
    </form> -->

    <form id="question_submission">
        <label for="question">Type in a question!</label>
        <input type="text" name="question" placeholder="Ask anything" id="question">
        <input type="submit" name="Submit">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}

        <br>

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>

    <!-- <div>
        {% if response %}
            {{ response }}
        {% endif %}
    </div> -->

    <div id="answer"></div>

    <script src="static/js/ask.js"></script>

    <br>

    <a href="{{ url_for('context_page') }}">Go to Context</a>


</body>
</html>