<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/context.ts" defer></script>
    <title>Upload New File</title>
</head>
<body>
    <h1>Context Management</h1>
    
    <form id="context-upload-form" action="/context/upload" method="POST" enctype="multipart/form-data">
        <input
            id="pdf-files-input"
            type="file"
            name="pdfs"
            accept=".pdf"
            multiple
        >
        <input
            id="context-upload-button"
            type="submit"
        >
    </form>

    <br>

    <form id="context-delete-form" action="/context/delete" method="POST">
        <button type="submit">Clear Knowledge Base</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <br>

    <div id="upload-status"></div>

    <br>

    <a href="{{ url_for('ask_page') }}">Go to Ask</a>


</body>
</html>
